<% content_for :right do %>
  <% if admin? %>
    <h3>Admin</h3>

    <ul>
      <li><%= link_to 'Create New Forum', new_forum_path(), class: 'utility' %></li>
      <li><%= link_to 'Edit Blacklist', edit_blacklist_path(), class: 'utility' %></li>
    </ul>
  <% end %>
<% end %>

<h1>Forums</h1>

<table border="1" cellspacing="0" cellpadding="4" class="forums collapsible">
  <thead>
    <tr>
      <th class="la c1" width="1%">&nbsp;</th>
      <th class="la" width="70%">Forum</th>
      <th class="lp" width="29%">Last Post</th>
    </tr>
  </thead>

  <tbody>
    <% for forum in @forums do %>
      <tr>
        <td width="1" class="vat c1">
          <% if recent_forum_activity(forum) %>
            <%= image_tag 'clearbits/comment.gif', class: 'icon green', title: 'Recent activity' %>
          <% else %>
            <%= image_tag 'clearbits/comment.gif', class: 'icon grey', title: 'No recent activity' %>
          <% end %>
        </td>

        <td class="c2 smaller">
          <div class="simple_flex_row netsurf">
            <%= link_to(forum.name, forum_path(forum), class: 'title') %>
            <div class="forum_stats">
              <%= number_with_delimiter(forum.topics_count) %> topics,
              <%= number_with_delimiter(forum.posts_count) %> posts
              <% if admin? %>
                <%= link_to('Edit', edit_forum_path(forum)) %>
              <% end %>
            </div>
          </div>

          <div class="desc">
            <%= forum.description_html.html_safe() %>
          </div>
        </td>

        <td class="lp">
          <% if @most_recent_posts_per_forum.key?(forum.id) %>
            <% post = @most_recent_posts_per_forum[forum.id] %>
            <span class="author">
              <%= apphelp_linked_name(post.user) %>
            </span>
            &ndash;
            <strong class="updated" title="<%= post.created_at.xmlschema %>">
              <%=
                link_to(
                  time_ago_in_words(post.created_at) + ' ago',
                  forum_topic_path(
                    forum_id:     forum,
                    id:           post.topic_id,
                    jump_to_post: post.id
                  )
                )
              %>
            </strong>
          <% else %>
            &ndash;
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="simple_flex_row space_between">
  <p>
    <%= link_to 'Recent main forum posts',  all_posts_path()                           %> |
    <%= link_to 'Test and Aldershot posts', all_posts_path(tests_and_aldershot: 'yes') %> |
    <%= link_to 'Everything',               all_posts_path(everything:          'yes') %>
  </p>

  <p class="rss">
    <%= feed_icon_tag "Recent Posts", all_posts_path(format: 'rss') %>
    <%= number_with_delimiter(Topic.count) %> topics, <%= number_with_delimiter(Post.count) %> posts,
    <%= number_with_delimiter(User.where('posts_count > 0').count) %> voices
  </p>
</div>

<% online_users = User.currently_online %>
<% unless online_users.empty? %>
  <div class="stats">
    <div class="users">
      <% unless online_users.empty? %>
        Users online:

        <%=
          linked_users = online_users.map do | u |
            tag.strong(link_to(h(u.display_name), user_path(u)))
          end

          linked_users.join(', ').html_safe()
        %>
      <% end %>
    </div>
  </div>
<% end %>
