<% content_for :right do %>
  <% unless @forum.description.blank? %>
    <h3>Description</h3>

    <%= @forum.description_html.html_safe() %>
  <% end %>

  <% if @forum.moderators.any? %>
    <h3>Moderators</h3>

    <ul class="flat" style="margin-top:1em;">
      <% @forum.moderators.each do |user| %>
        <li><%= link_to user.display_name, user_path(user) %></li>
      <% end %>
    </ul>
  <% else %>
    <h3>Unmoderated</h3>

    <p>This forum is currently unmoderated.</p>
    <p>Please always be courteous.</p>
  <% end %>
<% end %>

<% @page_title = @forum.name %>

<h1><%= @forum.name %></h1>

<div class="crumbs">
  <%= link_to "Forums", root_path() %> <span class="arrow">&rarr;</span>
</div>


<div class="simple_flex_row with_moderation_info becomes_column_if_narrow space_between">
  <div class="simple_flex_row becomes_column_if_narrow">
    <%= pagy_nav(@pagy).html_safe() %>
    <%= link_to 'New topic', new_forum_topic_path(forum_id: @forum.id) %>
  </div>

  <%= render partial: 'shared/ask_a_moderator' %>
</div>

<table border="1" cellspacing="0" cellpadding="4" class="topics listing collapsible">
  <thead>
    <tr>
      <th class="c1"></th>
      <th class="c2 la">Topic</th>
      <th class="stat" width="1%">Posts</th>
      <th class="stat" width="1%">Views</th>
      <th class="lp">Last post</th>
    </tr>
  </thead>

  <tbody>
    <% for topic in @topics %>
      <tr class="<%= cycle( 'odd', 'even' ) %>">
        <td width="1" class="c1">
          <%
            icon   = 'comment'
            color  = ''
            suffix = ''

            if topic.locked?
              icon   = 'lock'
              suffix = "; this topic is locked."
              color  = 'darkgrey'
            end
          %>
          <% if recent_topic_activity(topic) %>
            <%= image_tag "clearbits/#{icon}.gif", class: "icon green", title: "Recent activity#{suffix}" %>
          <% else %>
            <%= image_tag "clearbits/#{icon}.gif", class: "icon grey #{color}", title: "No recent activity#{suffix}" %>
          <% end %>
        </td>

        <td class="c2">
          <%=
            link = link_to(h(topic.title), forum_topic_path(forum_id: @forum.id, id: topic.id), class: 'entry-title', rel: 'bookmark')

            if topic.sticky?
              "Sticky: ".html_safe.concat tag.strong(link)
            else
              link
            end
          %>
        </td>

        <td class="ca stat"><%= topic.posts_count - 1 %></td>
        <td class="ca stat"><%= number_with_delimiter(topic.views) %></td>

        <td class="lp">
          <span class="author">
            <%= apphelp_linked_name(topic.replied_by_user) %>
          </span>
          &ndash;
          <strong class="updated" title="<%= topic.replied_at.xmlschema %>">
            <%=
              link_to(
                time_ago_in_words(topic.replied_at) + ' ago',
                forum_topic_path(
                  forum_id:     @forum.id,
                  id:           topic.id,
                  jump_to_post: topic.last_post_id
                )
              )
            %>
          </strong>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="simple_flex_row becomes_column_if_narrow space_between">
  <div class="simple_flex_row becomes_column_if_narrow">
    <%= pagy_nav(@pagy).html_safe() %>
    <%= link_to 'New topic', new_forum_topic_path(forum_id: @forum.id) %>
  </div>

  <div class="rss">
    <%= feed_icon_tag(@forum.name, forum_posts_path(@forum, format: :rss)) %>
    <%= pluralize(@forum.topics_count, 'topic') %>, <%= pluralize(@forum.posts_count, 'post') %>
  </div>
</div>
