<%
  @page_title = @topic.title
  @monitoring = logged_in? && Monitorship.where(user_id: current_user, topic_id: @topic, active: true).any?
%>

<% unless @forum.description.blank? %>
  <% content_for :right do %>
    <h3>Description</h3>

    <%= @forum.description_html.html_safe() %>
  <% end %>
<% end %>

<% unless @voices.empty? %>
  <% content_for :right_additional do %>
    <h3>Voices</h3>

    <ul class="flat talking">
      <% @voices.each do | user | %>
        <li><%= link_to(user.display_name, user_path(user)) %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>

<div class="simple_flex_row">
  <h1>
    <%= @topic.title %>
    <span class="small"><small>
      <%= '(sticky)' if @topic.sticky? %>
      <%= '(locked)' if @topic.locked? %>
    </small></span>
  </h1>

  <% if logged_in? %>
    <%
      form_submission_path  = forum_topic_monitorships_path(forum_id: @forum.id, topic_id: @topic.id)
      form_submission_path << '/destroy' if @monitoring

      form_method = @monitoring ? 'delete' : 'post'
    %>
    <%= form_tag(form_submission_path, method: form_method, style: 'flex-grow: 2; text-align: right;') do %>
      <input id="monitor_checkbox" type="checkbox" <%= "checked='checked'" if @monitoring %> />
      <label id="monitor_label" for="monitor_checkbox">Watch<%= "ing" if @monitoring %> topic</label>
      <%= submit_tag 'Set', id: 'monitor_submit' %>
    <% end %>

    <% if (current_user.admin? && @topic.editable_by?(current_user)) %>
      <div id="topic_mod">
        <%= link_to(' Edit topic', edit_forum_topic_path(forum_id: @forum.id, id: @topic.id)) %>
        or
        <%=
          form_for(
            :topic,
            url:  forum_topic_path(forum_id: @forum.id, id: @topic.id),
            html: {
              method:   :delete,
              style:    'display: inline',
              onSubmit: 'return confirm("Delete this topic forever?");'
            }
          ) do |f|
        %>
          <%= submit_tag 'Delete' %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>

<div class="crumbs">
  <%= link_to('Forums', root_path()) %> <span class="arrow">&rarr;</span>
  <%= link_to(@topic.forum.name, forum_path(@topic.forum)) %> <span class="arrow">&rarr;</span>
</div>

<div class="simple_flex_row with_moderation_info becomes_column_if_narrow space_between">
  <%= pagy_nav(@pagy).html_safe() %>
  <%= render partial: 'shared/ask_a_moderator' %>
</div>

<table border="0" cellspacing="0" cellpadding="4" class="posts collapsible">
  <tbody>
    <% for post in @posts do %>
      <% unless post == @posts.first %>
        <tr class="spacer">
          <td colspan="2">
            <a name="<%= post.dom_id %>" id="<%= post.dom_id %>" class="spacer_link">&nbsp;</a>
          </td>
        </tr>
      <% end %>

      <tr class="post hentry" id="<%= post.dom_id %>-row">
        <td class="author">
          <%= avatar_for post.user %>

          <div class="date">
            <a href="#<%= post.dom_id %>" rel="bookmark">
              <abbr class="updated" title="<%= post.created_at.xmlschema %>">
                <%= apphelp_creation_time_in_london(post) %>
              </abbr>
            </a>
          </div>

          <span class="fn">
            <%= apphelp_linked_name(post.user) %>
          </span>
          <span class="posts">
            <%= pluralize post.user.posts_count, 'post' %>
          </span>

          <% if logged_in? && post.editable_by?(current_user) %>
            <div class="edit">
              <%=
                link_to(
                  'Edit post',
                  edit_forum_topic_post_path(
                    id:       post,
                    forum_id: @forum,
                    topic_id: @topic,
                    page:     @pagy.page,
                    limit:    @pagy.limit
                  ),
                  class: 'utility'
                )
              %>
            </div>
          <% end %>
        </td>

        <td class="body" id="post-body-<%= post.id %>">
          <%= post.body_html.html_safe() %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="simple_flex_row becomes_column_if_narrow space_between">
  <%= pagy_nav(@pagy).html_safe() %>

  <div class="rss">
    <%= feed_icon_tag(@topic.title, forum_topic_path(forum_id: @forum.id, id: @topic.id, format: :rss)) %>
    <%= pluralize(@topic.posts.count, 'post') %>, <%= pluralize(@topic.voices, 'voice') %>
  </div>
</div>

<% if logged_in? %>
  <div id="edit"></div>
  <% if @topic.locked? %>
    <p>
      <%= image_tag('clearbits/lock.gif', class: 'icon grey', title: 'Topic locked') %>
      <label>This topic is locked.</label>
    </p>
  <% else %>
    <p />
    <h3>Reply</h3>

    <p />
    <div class="editbox container">
      <%= tag.p(flash[:bad_reply], class: 'notice') if flash[:bad_reply].present? %>
      <%=
        form_for(
          :post,
          url: forum_topic_posts_path(
            forum_id: @forum,
            topic_id: @topic,
            page:     (@topic.posts.count / Pagy::DEFAULT[:limit]) + 1
          )
        ) do |f|
      %>
        <%= f.text_area :body, rows: 8 %>
        <%= submit_tag 'Save Reply' %>

        <%= render partial: 'shared/formatting_help' %>
      <% end %>

      <script type="text/javascript">
        if (window.location.hash == '#edit') { // (from after-log-in redirection)
          window.setTimeout(function() { document.getElementById('post_body').focus(); }, 0);
        }
      </script>
    </div>
  <% end %>
<% else %>
  <p />
  <h3>Reply</h3>

  <p />
  To post replies, please first <%= apphelp_hub_login_link('log in', include_return_url: true, return_fragment: 'edit') %>.
<% end %>

<script type="text/javascript">
  //
  // A bit of code that styles links that appear to be an "http..." text link
  // in a way that makes modern browsers happy to wrap on character boundaries,
  // not just words. This causes better behaviour in small viewports.
  //
  // Links where the visible text portion is *not* apparently itself a URL are
  // not included, so they word-wrap normally, as this is very likely to be the
  // desired presentation. That's why CSS alone is insufficient here.
  //
  document.querySelectorAll('#content .post .body a').forEach(function(link) {
    if (link.textContent.startsWith('http')) {
      console.log(link.style);
      link.style.overflowWrap = 'anywhere';
    }
  });
</script>
