<%
  @page_title  = search_posts_title
  missing_user = User.new(id: 0, email: 'webmaster@riscoosopen.org', display_name: 'Unknown')
%>

<h1>
  <% if params[:q].blank? %>
    <%= @page_title %>
  <% else %>
    Searching for '<%= params[:q] %>'
  <% end %>
</h1>

<div class="crumbs">
  <%= link_to('Forums', root_path()) %> <span class="arrow">&rarr;</span>
</div>

<div class="simple_flex_row with_moderation_info space_between">
  <%= pagy_nav(@pagy).html_safe() %>
  <%= render partial: 'shared/ask_a_moderator' %>
</div>

<%=
  render(
    partial: 'shared/posts',
    locals:  {
      posts:       @posts,
      pagy:        @pagy,
      embed_topic: true
    }
  )
%>

<div class="simple_flex_row becomes_column_if_narrow space_between">
  <%= pagy_nav(@pagy).html_safe() %>

  <p class="rss">
    <%= feed_icon_tag(@page_title, search_posts_path(true)) %>
    <%= pluralize(@pagy.count, 'post') %> found
  </p>
</div>
